@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --card-bg : white;
  --rounded-large : 1rem;
  --page-width : 75;
  --banner-height : 35;
  --banner-height-extend : 30;
  --banner-height-home : calc(var(--banner-height)_+_var(--banner-height-extend));
}

@layer base {
  .Link{
    @apply hover:bg-sky-200 rounded-lg px-4 font-bold h-11 flex items-center
  }
  .card-base {
    @apply rounded-[var(--rounded-large)] overflow-hidden bg-[var(--card-bg)] transition;
}
}

